.shortcut {
    min-width: 1200px;
    height: 36px;
    line-height: 36px;
    background-color: #f9f9f9;
    font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    position: relative;
    z-index: 411;
}
.layout {
    *zoom: 1;
    width: 1200px;
    margin: 0 auto;
}
.shortcut .s-sub {
    float: left;
}
.shortcut .s-main {
    float: right;
}
ul {
    list-style: none;
}
.shortcut li:first-child {
    padding-left: 0;
}
.shortcut li {
    float: left;
    padding: 0 8px;
    position: relative;
}
.shortcut a {
    color: #a4a4a4;
}
a {
    cursor: pointer;
}

ins, a {
    text-decoration: none;
    color: #3a3a3a;
}
.layout:before, .layout:after {
    content: "";
    display: table;
}
.layout:after {
    clear: both;
}
.layout:before, .layout:after {
    content: "";
    display: table;
}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}
body, button, input, select, textarea {
    font: 12px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
.hide, .hidden {
    display: none;
}
.shortcut li:before {
    content: "";
    width: 1px;
    height: 10px;
    display: block;
    position: absolute;
    top: 13px;
    left: 0;
    background: #d3d3d3;
}
fieldset, img, a img {
    border: 0 none;
}
.shortcut a {
    color: #a4a4a4;
}
a {
    cursor: pointer;
}
.shortcut .s-dropdown {
    position: relative;
    z-index: 310;
    margin: 0 -9px;
    height: 36px;
}
.shortcut .s-dropdown .h {
    position: relative;
    padding: 0 12px 0 10px;
    height: 36px;
}
.shortcut .s-dropdown-link .b {
    border-radius: 0 0 8px 8px;
}
.shortcut .s-dropdown .icon-dropdown {
    position: relative;
    padding-right: 10px;
}
.shortcut .s-dropdown .icon-dropdown:before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background-position: -71px 0;
    position: absolute;
    top: 0;
    right: -5px;
}
.hungBar .hungBar-common a:before, .shortcut .s-dropdown .icon-minicart:before, .shortcut .s-dropdown .icon-dropdown:before, .shortcut .dropdown-code .code-info span:before, .shortcut .dropdown-navs .dropdown-navs-icon span:before, .shortcut .s-dropdown .minicart-pro-empty .icon-minicart:before, .search-bar .search-bar-form:after, .search-bar .search-bar-key a .icon-fire:before {
    background: url(../images/icon-common.svg) no-repeat;
}
.shortcut .s-dropdown .icon-dropdown:before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    background-position: -71px 0;
    position: absolute;
    top: 0;
    right: -5px;
}
.shortcut .s-dropdown-minicart {
    background: #f2f2f2;
}
.shortcut .s-dropdown .h {
    position: relative;
    padding: 0 12px 0 10px;
    height: 36px;
}
.shortcut .s-dropdown .icon-minicart {
    position: relative;
    padding-left: 18px;
    display: block;
    white-space: nowrap;
}
.shortcut .s-dropdown .icon-minicart:before {
    content: "";
    display: block;
    width: 20px;
    height: 12px;
    background-position: -99px -4px;
    position: absolute;
    top: 11px;
    left: -3px;
    line-height: 12px;
}
.header {
    min-width: 1200px;
    height: 41px;
    padding: 18px 0 15px 0;
    background: #fff;
    position: relative;
    font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    line-height: 1.5;
    box-shadow: 0 0 46px rgba(0,0,0,0.03);
}
.logo {
    float: left;
    margin-right: 34px;
}
.naver {
    float: left;
    max-width: 585px;
    height: 40px;
    overflow: hidden;
}
.logo a {
    float: left;
}
.logo img {
    height: 36px;
}
fieldset, img, a img {
    border: 0 none;
}
.naver li.img {
    margin-top: 7px;
}
.naver a {
    font-size: 16px;
    color: #333;
    position: relative;
    line-height: 40px;
    display: block;
}
.naver li.img img {
    display: block;
    height: 24px;
}
.naver li.img a:hover {
    opacity: .8;
}
.shortcut .s-dropdown .b {
    position: absolute;
    top: 36px;
    right: 0;
    background: #fff;
    box-shadow: 0 2px 36px 0 rgba(0,0,0,0.07);
    border-radius: 8px 0 8px 8px;
}
.naver li.img a:hover {
    opacity: .8;
}
.naver a.current, .naver a:hover {
    color: #ca141d;
}
a:hover {
    text-decoration: none;
}
.naver li {
    float: left;
    margin-right: 24px;
}
.fr, .right, .right-area {
    float: right;
}
.search-bar {
    margin-top: 5px;
    background: #fff;
    border-radius: 16px 16px 0 0;
}
.relative {
    position: relative;
}
.search-bar .search-bar-form {
    line-height: 1;
    width: 318px;
    height: 28px;
    background: #f0f0f0;
    border: 1px solid #f0f0f0;
    border-radius: 15px;
    position: relative;
    z-index: 310;
}
.search-bar .search-bar-key {
    position: absolute;
    max-width: 260px;
    right: 31px;
    bottom: 6px;
    z-index: 311;
    white-space: nowrap;
    overflow: hidden;
}
.search-bar .search-bar-form .text {
    border: 0;
    color: #3a3a3a;
    width: 285px;
    text-indent: 15px;
    height: 30px;
    line-height: 30px;
    background: transparent;
    float: left;
}
.search-bar .search-bar-form .button {
    width: 35px;
    height: 30px;
    cursor: pointer;
    border: 0;
    overflow: hidden;
    position: absolute;
    background: transparent;
    padding-right: 10px;
    right: 0;
    top: 0;
    color: #353535;
    font-size: 0;
    z-index: 10;
}
.search-bar .search-bar-form.hover, .search-bar .search-bar-form:hover {
    border-color: #c9c9c9;
}
.search-bar .search-bar-form:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url(../images/icon-common.svg) no-repeat;
    background-position: -139px 0;
    position: absolute;
    top: 4px;
    right: 12px;
}
.search-bar .search-bar-key a:hover {
    color: #333;
}
element.style {
    color: #CF0A2C;
}
.search-bar .search-bar-key a {
    color: #999;
    font-size: 12px;
    margin-right: 14px;
}
.search-bar .search-bar-form .button:hover {
    color: #787878;
}
.shortcut a:hover {
    color: #ca151d;
}
.shortcut .s-dropdown:hover .h {
    background: #fff;
    z-index: 100;
}
.shortcut .dropdown-more.w-119 {
    width: 119px;
}
.shortcut .dropdown-more {
    width: 80px;
    padding: 6px 0 12px 0;
    text-align: center;
    line-height: 32px;
}
.shortcut .s-dropdown:hover .h {
    background: #fff;
    z-index: 100;
}
.shortcut .dropdown-minicart {
    color: #3a3a3a;
}
.minicart-pro-empty-index {
    padding: 50px 0 50px;
}

.minicart-pro-empty {
    width: 460px;
    text-align: center;
    color: #3a3a3a;
    padding: 20px 0;
    line-height: 1;
    font-size: 14px;
    color: #a4a4a4;
}
.minicart-pro-list-scroll {
    width: 477px;
    max-height: 458px;
    overflow-x: hidden;
    overflow-y: auto;
}

.minicart-pro-list {
    width: 460px;
    margin-bottom: 60px;
    min-height: 168px;
}
.shortcut .minicart-pro-empty .icon-minicart {
    padding-left: 0;
}

.shortcut .s-dropdown .icon-minicart {
    position: relative;
    padding-left: 18px;
    display: block;
    white-space: nowrap;
}
.minicart-pro-empty .icon-minicart {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
}
.shortcut .minicart-pro-empty .icon-minicart {
    padding-left: 0;
}

.shortcut .s-dropdown .icon-minicart {
    position: relative;
    padding-left: 18px;
    display: block;
    white-space: nowrap;
}
.minicart-pro-empty {
    width: 460px;
    text-align: center;
    color: #3a3a3a;
    padding: 20px 0;
    line-height: 1;
    font-size: 14px;
    color: #a4a4a4;
}
.shortcut .s-dropdown .minicart-pro-empty .icon-minicart:before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background: url(../images/icon-common.svg) no-repeat;
    background-position: -262px 0;
    position: static;
}
.shortcut .s-dropdown .icon-minicart:before {
    content: "";
    display: block;
    width: 20px;
    height: 12px;
    background-position: -99px -4px;
    position: absolute;
    top: 11px;
    left: -3px;
    line-height: 12px;
}
.search-bar .search-bar-form .text:focus {
    outline:none;
}
.search-bar-history {
    background: #fff;
    width: 320px;
    height:331px;
    border-radius: 8px;
    position: absolute;
    top: 40px;
    line-height: 26px;
    z-index: 306;
    box-shadow: 0 2px 36px 0 rgba(0,0,0,0.07);
}
.search-bar-history .con {
    border-top: 1px solid #f2f2f5;
}
.search-bar-history p {
    text-indent: 15px;
    height: 30px;
    line-height: 30px;
}
.search-bar-history label {
    font-size: 13px;
    color: #888;
}
.search-bar-history ul {
    text-indent: 15px;
}
.search-bar-history ul li {
    padding-right: 17px;
}
.search-bar-history ul li a {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333;
    height: 30px;
    line-height: 30px;
}
.search-bar-history ul li:hover{
    background-color:#d0d0d0;
}